<body>
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold">401</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> Not Authorized.</p>
            <p class="lead">
                You are not allowed to visit the page.
            </p>
            <a href="/api/users/login" class="btn btn-primary">Go Login</a>
        </div>
    </div>
</body>