<h2>User {{username}}</h2>
<ul class="list-group">
    <li class="list-group-item">{{name}}</li>
    <li class="list-group-item">{{username}}</li>
    <li class="list-group-item">{{email}}</li>
</ul>

<a href="/api/users" class="btn btn-light mt-4">Visit all users</a>