<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">User Interface</a>
        <div style="background: #a53817; padding: 5px 7px; border-radius: 40%">
            <a href="/api/users/logout" style="color: #fff; text-decoration: none;">Logout</a>
        </div>
    </div>
</nav>

<h2>User {{username}}</h2>
<ul class="list-group">
    <li class="list-group-item">{{name}}</li>
    <li class="list-group-item">{{username}}</li>
    <li class="list-group-item">{{email}}</li>
</ul>

<a href="/api/users" class="btn btn-light mt-4">Visit all users</a>